body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size:25px;
}

footer{
  margin-top:20px;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.story-text{
  height:120px;
}

.dash-status{
  text-transform: capitalize;
}

#delete-form{
  display:inline;
}

.success-msg {
  padding: 1rem;
  background: aquamarine;
  text-align: center;
  font-weight: 600;
}

.error-msg {
  padding: 1rem;
  background: indianred;
  text-align: center;
  font-weight: 600;
}