<h3 class="text-red darken-3">Welcome</h3>
<p class="blue-text darken-1">Welcome to Express StoryBooks 1.0.0</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world or completley private as your own personal diary</p>
<p>A simple app whose existence means to test Google, Github Oauth along with the normal express registration, meaning a user
  should be able to create a fresh account on the website but should be able to login using Google and Github accounts as well.
</p>
{{#if user}}
{{else}}
  <a class="btn yellow darken-4" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}